<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>45383E76-D4E8-4F62-914A-CD9D7A9BB978</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 82}, {859, 631}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>Expanded Ideaspaces For Section 707510BC-E4BA-469D-823C-BFB4A82DDA68</key>
	<array/>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section 707510BC-E4BA-469D-823C-BFB4A82DDA68</key>
	<array>
		<string>45383E76-D4E8-4F62-914A-CD9D7A9BB978</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>707510BC-E4BA-469D-823C-BFB4A82DDA68</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{0, 3}, {1366, 742}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>170</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>45383E76-D4E8-4F62-914A-CD9D7A9BB978</string>
	<key>Scroll Position For Section 707510BC-E4BA-469D-823C-BFB4A82DDA68</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
